* {
    box-sizing: border-box;
}


body {
    font-family: 'Slabo 27px', serif;
    margin: 0;

  /*  font-family: 'VT323', monospace; */
}

.backdrop {
    position: fixed;
    display: none; 
    top:0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0, 0.5);
    z-index: 100;
}
.main-header {
    width: 100%;
    background: #2ddf5c;
    padding: 8px 16px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__logo {
  /*  color: brown; */
    text-decoration: none;
  /*  font-family: 'Monoton', cursive; */
    font-size: 1.56rem;
    height: 2.5rem;
    display: inline-block;
}
.main-header__logo img {
    height: 1.875rem;

}

.nav-item {
    text-align: right;
    display: inline-block;
    width: calc(100% - 80px);
    vertical-align: middle;

}
.nav-item__lists {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item__list {
    display: inline-block;
    margin: 0 0.937rem;
    
}

.nav-item__list a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 0.62rem;
}

.nav-item__list a:hover,
.nav-item__list a:active {
 color: black;
 border-bottom: 3px solid white; 
}

.nav-item__list--touch a {
 color: black;
 border-radius: 3px;
 background: #fff;
 padding: 0.5rem 0.937rem;
}

.nav-item__list--touch a:hover,
.nav-item__list--touch a:active {
    color: #fff;
    background: black;
    border: none;
}

.main-footer {
    background: #4f4f4f;
    padding: 1.875rem;
    margin-top: 0.62rem;
}
.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.footer-link {
    display: inline-block;
    margin: 0 0.93rem;
}
.footer-link a {
    color: white;
    text-decoration: none;
}
.footer-link a:active,
.footer-link a:hover {
   color: lightblue;
}


.button {
    background: green;
    color: white;
    font: inherit;
    padding: 0.375rem;
    border: green;
    border-radius: 14px;
    cursor: pointer;
}

.button:active,
.button:hover {
    background: white;
    color: green;
}
.button:focus {
    outline: none;
}